.container-fluid {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
}

body {
  padding-top: 100px
  font-family: 'Open Sans', sans-serif;
}

h1{
  color: #166940;
  /*font-family: 'Inconsolata', monospace;*/
  padding-bottom: 0px;
}

a, a:hover{
  color: #166940;
}
